<div id="blue">
    <div class="container">
		<div class="row">
			<h3 ng-bind="postTitle">Display.</h3>
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
	
  	<div class="col-sm-6">
  		  <div id="imgs">
        		<div class="large-img-container">
                <a class="fancybox" href="{{imagePath}}" rel="group">
          		    <img class="" ng-src="{{imagePath}}" position="0" width="100%">
                </a>
        		</div>

        		<div class="small-imgs clearfix">
          		  <p class="help-block">
            		  	Click on image to zoom
          		  </p>
  				      
                <a class='fancybox' rel="group" ng-href="{{REMOTE_SERVER}}{{post.pictures_l[$index]}}" ng-repeat="smallImg in post.pictures_s track by $index">
  				          <img class="small-img" ng-src="{{REMOTE_SERVER}}{{smallImg}}"  alert="" ng-mouseover="changeImage($index)">
                </a>
      		  </div>
        </div>
    </div>
  	
  	<div class="col-sm-6">
      	<h4>{{post.title}}</h4>
      	<hr>
      	<p>
        		<span class="col-sm-2"> Price: </span>
        		<label> {{post.price | currency}} </label>
      	</p>
      	<p>
        		<span class="col-sm-2"> Condition: </span>
        		<label> {{post.condition}}</label>
      	</p>
      	<p>
        		<span class="col-sm-2"> Location: </span>
        		<label> {{post.location.city}}</label>
      	</p>
      	<p>
        		<span class="col-sm-2"> Seller: </span>
        		<label> {{post.user.fname}} {{post.user.lname}} </label>
      	</p>
      	<p>
        		<span class="col-sm-2"> Email: </span>
        		<label> {{post.user.email}} </label>
      	</p>
      	<div>
        		Description:
        		<p> {{post.description}} </p>
      	</div>
  	</div>
	
</div>